*/build/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
local
.idea/*
.idea/
keystore
app/objectbox/
.gitsecret/keys/random_seed
!*.secret
keystore.properties
google-play.json
/app/libobjectbox-jni-linux-x64.so
