<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <application>
        <activity
            android:name=".playstore.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4066886200642192~3960712183" />
    </application>
</manifest>